.rete button,
.rete input {
    color: rgb(31, 28, 28);
}

.rete {
    height: 100%;
    width: 100%;
}

.editorSpace {
    flex: 1;
    padding: 0px;
    overflow: auto;
    background-color: #2d3136;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
